<p>There has been new activity on the website.</p>

{{ children }}

<p>You received this email because you have chosen to receive notifications. To edit or remove your notification preferences, go to <a href="{{ preferences_url }}">Notifications</a> in My Account.</p>
