<p>
  You can view the content here: <br/>
  {% if notify_entity_exists %}
    <h2><a target="_blank" href="{{ notify_entity.toUrl('canonical', {absolute: true}) }}">{{ entity_label }}</a></h2>
  {% else %}
    <h2>{{ entity_label }}</h2>
  {% endif %}
</p>

<ul>
  <li><strong>Content operation:</strong> {{ operation }}</li>
</ul>

{% if change_summary %}
  {{ change_summary|raw }}
  <hr/>
{% endif %}
